*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/*Tạo css cho hedear*/
header{
    background-color: #e8b723;
    color: #fff;
    padding: 20px;
}
/*tạo css cho nav*/
.nav ul{
    list-style: none;
    display: flex;
    justify-content: space-between;
}
.nav ul li{
    margin-right: 20px;
}
.nav ul li:hover{
    background-color: orange;
    padding: 10px;
}
.nav a{
    color: #fff;
    text-decoration: none;
}
h1{
    margin: 30px 15px 10px 0px;
    text-align: center;
    text-transform:uppercase;
    font-size: 40px;
}
/*Tạo Css cho main*/
main{
    padding: 50px;
}
.section{margin-bottom: 50px;}
.section p{text-align: center;}
.section h2{text-align: center; 
margin: 0 0 20px;}
.products{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.product{
    width: calc(33.33%-20px);
    margin-bottom: 50px;
    text-align: center;
}
.product img{
    width: 100%;
    margin-bottom: 20px;
    border: 1px solid saddlebrown;
    border-radius: 10px;
}
.product h3{margin: 0;}
.product p{margin: 10px 0;}
.product button{
    background-color: #333;
    color:#fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
}
section form{margin-left:35%;}
section form input{
    margin-left: 50px;
    width: 300px;
    height: 30px;
    margin-top: 20px;
}
#email{margin-left: 79px;}
#message{margin-left: 52px;}
section form button{
    margin-top: 20px;
    width: 50px;
    height: 25px;
    margin-left: 370px;
}
/*Tạo Css cho footer*/
footer{
    background-color: #e8b723;
    color:#fff;
    padding: 20px;
    text-align: center;
    font-size: 20px;
}
/*Tạo responsive*/
@media  screen and {max-width: 768px;}
{
    header{padding: 10px;}
    .nav ul{flex-wrap: wrap;}
    .nav li{margin-right: 10px;
    margin-bottom: 10px;}
    .products{flex-wrap: wrap;}
    .product{width: calc(100%/2-10px);
    margin-bottom: 30px;}
}